$whitesmoke: whitesmoke;
$light-telegray: #ccc;//
$aliceblue: aliceblue;
$white: rgb(255, 255, 255);
$silver-gray: rgb(136, 147, 151);
$grayish-blue: rgb(61, 79, 88);
$white-aluminum: #adadad;
$grideperle: rgb(232, 237, 235);
$aqua: rgb(4, 152, 236);
$darkblue: darkblue;
$heavenly: #9B8FFF;
$deepskyblue: deepskyblue;
$blue: blue;
$violet-blue-crayola: #3F51B5;
$azure-gray: #04789f;
