//_______Colors________//
$red: red;
$bright-turquoise: #05f1f1;
$cornflowerblue: cornflowerblue;
$gainsboro: gainsboro;
$pigeon-blue: #607D8B;
$powderblue: powderblue;
$darkblue: darkblue;
$darkslateblue: darkslateblue;
$azure: azure;
$gray: #857e7e;
$slateblue: slateblue;
$blue-frosty-sky: #03a9f4;
//__________________________________//
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v18-latin-700.woff');
}
//Коментарий//
*               {
    margin: 0;
     padding: 0;
        font-weight: 700;
            font-size: 20px;
     line-height: 120%;}
//Коментарий//
//Коментарий//
//Коментарий//

//Коментарий//
html                 {
    height: 100%;
            }
//Коментарий//
//Коментарий//
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 15px;
}
p:last-child {
    margin-bottom: 0;
}
.wrapper {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}
.block__content-posts {
    width: 100%;
    margin: 0 auto 40px;
    box-sizing: border-box;
    padding: 25px 0;
    border-radius: 15px;
    border: 2px solid $bright-turquoise;
    text-align: center;
    background-color: $cornflowerblue;
    color: $gainsboro;

}
.block__form-post {
    margin: 0 auto 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
label {
    display: inline-block;
    max-width: 400px;
    width: 100%;
}
input {
    display: block;
    padding: 15px 0 15px 15px;
    border-radius: 15px;
    width: 100%;
    border: 2px solid $pigeon-blue;
    box-sizing: border-box;
    background-color: $powderblue;
    color: $darkblue;
}
input::placeholder {
    font-size: 12px;
}
.js--small {
    color: $red;
    display: none;
}
.js--button-post,
.js--button-comments {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border-radius: 20px;
    border: 3px solid $darkslateblue;
    background-color: $azure;
    font-size: 13px;
}

.block__comments {
    box-sizing: border-box;
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
    background-color: $azure;
    border: 2px solid $bright-turquoise;
    color: $gray;
    border-radius: 15px;
    text-align: center;
}
.block__content-comments {
    max-width: 630px;
    width: 100%;
}
.js--button-comments {
    border-color: $slateblue;
    background-color: $blue-frosty-sky;
    margin: 0 auto 30px;
}