$red: red;
$bright-turquoise: #05f1f1;
$cornflowerblue: cornflowerblue;
$gainsboro: gainsboro;
$pigeon-blue: #607D8B;
$powderblue: powderblue;
$darkblue: darkblue;
$darkslateblue: darkslateblue;
$azure: azure;
$gray: #857e7e;
$slateblue: slateblue;
$blue-frosty-sky: #03a9f4;
$white: #fff;
$purple: #9c27b0;